# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Lab Terminal.iml
# Datasource local storage ignored files
/../../../../../../../../:\Development\Projects\Unity\Lab Terminal\.idea\.idea.Lab Terminal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
